{% extends 'base.html' %}

{% block content %}
    <h1>{{ artist['name'] }}</h1>
    <br>
    <div class="artist" style="background-image: url({{ artist.img.url }});">
        <h3>Followers: {{ artist['followers'] }}</h3>
        <h3>Popularity: {{ artist['popularity'] }}</h3>
    </div>

    <br>
    <h1>Top Tracks:</h1>
    <ol>
    {% for name, track in tracks.items() %}
        <li>
            <div class="track thumbnail" style="background-image: url({{ track.img.url }});">
                <h2>{{ name }}</h2>
                <h3>Popularity: {{ track.popularity }}</h3>
                <h3>Album: {{ track.album }}</h3>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}

