{% extends 'base.html' %}

{% block content %}
    <h1>{{ artist['name'] }}</h1>
    <br>

    <!-- Artist section with image on left, info on right -->
    <div style="display: flex; align-items: center; margin-bottom: 2rem;">
        <div class="artist" style="background-image: url({{ artist.img.url }}); margin-right: 2rem;"></div>
        <div>
            <h3>Followers: {{ "{:,}".format(artist.followers) }}</h3>
            <h3>Popularity: {{ artist.popularity }}</h3>
        </div>
    </div>

    <br>
    <h1>Top Tracks:</h1>
    <ol>
    {% for name, track in tracks.items() %}
        <li style="display: flex; align-items: center; margin-bottom: 1.5rem;">
            <div class="track thumbnail" style="background-image: url({{ track.img.url }}); margin-right: 1.5rem;"></div>
            <div>
                <a href="{{ url_for('track', id=track.id) }}">
                   <h2>{{ name }}</h2>
                </a>
                <h3>Popularity: {{ track.popularity }}</h3>
                <h3>Album: {{ track.album }}</h3>
            </div>
        </li>
    {% endfor %}
    </ol>

    <a href="{{ url_for('search') }}" style="text-decoration: none;">← Back to Search</a>
{% endblock %}